* , 
*::after,
*::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
   background-color: #6F1AB6;
   height: 100vh;
}

/* nav bar */

.main-nav{
    margin: 0;
    padding: 1rem 1rem;
    background-color: #3D1766;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
    gap: 5rem;
}


.nav-item { 
    text-decoration: none;
    color: white;
    font-size: 1.4rem;

}

li.nav-list-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
}



/* PUBLIC INDEX PAGE */

.main-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.sub-div{
    margin-top: 2rem;
    background-color: #EB455F;
    border: 2px solid #e81747;
    width: 30%;
    min-height: 40%;
    color: white;
    text-align: center;
    padding: 2rem ;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: bold;
}

.from-div{
    display: flex;
    justify-content: flex-start;
   
    flex-flow: column nowrap;
}
.name-lable{
    text-align: left;
    margin: 1rem 1rem 1rem 0;
}
.name-input{
    width: 100%;
}

.name-button{
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: #e81747;
    font-size: 1rem;
    color: white;

}