* , 
*::after,
*::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
   background-color: #171718;
   height: 100vh;
}

/* nav bar */

.main-nav{
    margin: 0;
    padding: 1rem 1rem;
    background-color: #171718;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
    gap: 10rem;
}


.nav-item { 
    text-decoration: none;
    color: white;
    font-size: 1.4rem;

}


/* PUBLIC INDEX PAGE */

.main-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 3rem;
}

.sub-div{
    border: 2px solid #e81747;
    width: 300px;
    color: white;
    text-align: center;
    padding: 2rem ;
    border-radius: 8px;
    font-size: 1.7rem;
    font-weight: bold;
}